using System.Reflection;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

// DO NOT CHANGE THE CONTENTS OF AssemblyInfo.cs. ONLY CHANGE AssemblyInfo.cst, AS IT WILL BE USED TO GENERATE AssemblyInfo.cs DURING THE PRE-BUILD EVENT!
// See http://tortoisesvn.net/docs/release/TortoiseSVN_en/tsvn-subwcrev-keywords.html"

#if(!DEBUG)
${REV_STAGED}
#endif


// General Information about an assembly is controlled through the following 
// set of attributes. Change these attribute values to modify the information
// associated with an assembly.
[assembly: AssemblyTitle("RIVM.ConsExpo.Model.Interfaces")]
[assembly: AssemblyDescription("")]
[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCompany("RIVM")]
[assembly: AssemblyProduct("RIVM.ConsExpo.Model.Interfaces")]
[assembly: AssemblyCopyright("Copyright © RIVM 2015 - ${REV_YEAR}")]
[assembly: AssemblyTrademark("")]
[assembly: AssemblyCulture("")]
[assembly: AssemblyInformationalVersion("Build date: ${BUILD_DATE}; Revision date: ${REV_DATE};")]

// Setting ComVisible to false makes the types in this assembly not visible 
// to COM components.  If you need to access a type in this assembly from 
// COM, set the ComVisible attribute to true on that type.
[assembly: ComVisible(false)]

// The following GUID is for the ID of the typelib if this project is exposed to COM
[assembly: Guid("b0a5cf57-7d29-43d7-8b2b-dd92dd70f8a2")]

// Version information for an assembly consists of the following four values:
//
//      Major Version
//      Minor Version 
//      Build Number
//      Revision
//
// You can specify all the values or you can default the Build and Revision Numbers 
// by using the '*' as shown below:
// [assembly: AssemblyVersion("1.0.*")]
[assembly: AssemblyVersion("1.0.0.0")]
[assembly: AssemblyFileVersion("1.0.0.${REV_COUNT}")]
