# Folders
bin/
obj/
.dotnet/
.nuget/
.packages/
.tools/
.vs/
.vscode/
BenchmarkDotNet.Artifacts/
modules/
TestResults/
artifacts/
.gradle/

# File extensions
*.aps
*.binlog
*.dll
*.DS_Store
*.exe
*.idb
*.lib
*.log
*.pch
*.pdb
*.pidb
*.psess
*.res
*.snk
*.so
*.suo
*.tlog
*.user
*.userprefs
*.vspx

# Files
/src/packages/*
/src/ConsExpo.sln.DotSettings
/src/RIVM.ConsExpo.BL.Interfaces/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.BL/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.DAL.Interfaces/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.DAL/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.DependencyResolver/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.DTO/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.DTO/Properties/VersionInfo.cs
/src/RIVM.ConsExpo.Model.Interfaces/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.Model/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.Web/Properties/AssemblyInfo.cs
/src/RIVM.ConsExpo.Web/connections.config
**/UpgradeLog.htm

